{% load userdefined %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>User defined filters</h1>
        <h1>{{data}}</h1>
        <h1>{{data|swap}}</h1>
        <h1>{{data|remove:'j'}}</h1>
        <h1>{{data|spremove:'s'}}</h1>
        <h1>{{data|spremove:'js'}}</h1>
        <h1>{{data|count:'s'}}</h1>
        <h1>{{data|count:'D'}}</h1>

    </center>
</body>
</html>